*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background: #222222;
    color: white;
}
main{
    height: 90%;
}
main > nav{
    height: 100%;
    width: 200px;
    background: black;
}

.scrolly{
    height:90%;
    overflow-y: auto;
}
.scroller{
    margin-top: 24px;
    max-height:300px;
    overflow-y: auto;
}

/* nav */
.bordo-sx{
    border-left: 5px solid green;
    padding-left: 10px; 
}
nav hr{
    width: 180px;
    margin: 15px 10px 15px 10px;
}

.square{
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    background: lightgray;
}

.plus{
    font-size: 30px;
    vertical-align: middle;
}

.bonus-nav:hover{font-weight: bold;}

main>section{
    height: 100%;
    width: calc(100% - 200px);
}

/* upgrade */
.upgrade{
    background:#141922;
    height: 10%;
}

.upgrade > div{
    position: absolute;
    top: 45px; 
    right: 30px;
    transition: 0s;
}
.upgrade > div:hover{scale: 1.2;}

/* option */
.option-1{
    border-bottom: 1px solid green;
}
.option-1:hover{scale: 1.2;}
 .option:hover{scale: 1.2;}


/* cover */
.cover{
    width: 17%;
}

.bonus-cover{
    top: 35%;
    right: 35%;
    opacity: 0;
}
.cover:hover .bonus-cover{
    opacity: 1;
}

.copertina:hover{opacity: 60%;  }

footer{
    height: 10%;
}

.full{
    height: 16  px;
    background-color: grey;
    margin-top: 15px;
}

.partial{
    height: 16px;
    background-color: white;
}

.cursore{
    height: 16px;
    width: 16px;
    border: 1px solid #222222;
    background-color: #222222;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.partial .cursore:{ 
    display: none;
}
.partial:hover .cursore{
    display: block;
}

.vol-bar{
    height: 12px;
    background: grey;
}
.vol{
    height: 12px;
    background: white   ;
}

.cursore-2{
    height: 12px;
    width: 12px;
    border: 1px solid white;
    background-color: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.vol:hover .cursore-2{
    display: block;
}

.vol:hover{background: greenyellow;}

.bonus-footer:hover{font-weight: bold;}
