    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background: #222222;
    color: white;
    overflow: hidden;
}
main{
    height: 90%;
}
main > nav{
    height: 100%;
    width: 200px;
    background: black;
}

.scrolly{
    height:90%;
    overflow-y: auto;
}
.scroller{
    margin-top: 24px;
    max-height:300px;
    overflow-y: auto;
}
/* nav */
.bordo-sx{
    border-left: 5px solid green;
    padding-left: 10px;
}
nav hr{
    width: 180px;
    margin: 15px 10px 15px 10px;
}

.square{
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    background: lightgray;
}

.plus{
    font-size: 30px;
    vertical-align: middle;
}

.bonus-nav:hover{font-weight: bold;}

main>section{
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
}

/* upgrade */
.upgrade{
    background:#222222  ;
    height:10%;
}

.upgrade-text{
    padding: 12px 18px;
    
}
.container-upgrade{
    position:absolute ;
    top: 45px;
    right: 50px;
}
.upgrade > div:hover{scale: 1.2;}

/* option */
.option-1{
    border-bottom: 1px solid green;
}
.option-1:hover{scale: 1.2;}
 .option:hover{scale: 1.2;}


/* cover */
.cover{
    width: 18%;
}

.bonus-cover{
    top: 35%;
    right: 35%;
    opacity: 0;
}
.cover:hover .bonus-cover{
    opacity: 1;
}

.copertina:hover{opacity: 40%;  }

.player-c{
    height: 10%;
}   

.full{
    height: 16px;
    background-color: grey;
    margin-top: 15px;
}

.partial{
    height: 16px;
    background-color: white;
}

.cursore{
    height: 16px;
    width: 16px;
    border: 3px solid #222222;
    background-color: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.partial .cursore:{
    display: none;
}
.partial:hover .cursore{
    display: block;
}

.vol-bar{
    height: 12px;
    background: grey;
}
.vol{
    height: 12px;
    background: white   ;
}

.cursore-2{
    height: 12px;
    width: 12px;
    border: 2px solid black;
    background-color: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.vol:hover .cursore-2{
    display: block;
}

.vol:hover{background: greenyellow;}

.bonus-footer:hover{font-weight: bold;}

/***********MEDIA QUERY**************/

/* DESKTOP */
@media screen and (max-width:992px){
    .scroller{height: 200px;}
    .upgrade > div{
        position: absolute;
        top: 25px;
        right: 30px;
        transition: 0s;
    }
    .cover-c{flex-wrap: wrap;}
    .cover{
        width: 25%;
        padding: 12px;
    }
    footer.player-c{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sx{
        width: 25%;

    }
    .cen{
        width: 35%;
    }
    .dx{
        width: 35%;
        margin-right: 15px;
    }
}

/* TABLET */
@media screen and (max-width:768px){
    .opzioni{
        flex-wrap: wrap;
        font-size: 20px;
    }
    .cover{
        width: 50%;
    }
    footer.player-c{
        justify-content:space-between;
    }

    .img-player>img{
        margin-left: 0;
        margin-right: 0;
    }
    .sx{
        width: 35%;
        padding: 15px 0 ;
    
    }
    .icon-sx{
        display: flex;
        flex-direction: column;
    }
    .icon-sx1{padding-bottom: 8px;}
    .cen{
        width: 40%;
    }
    .time{
        font-size: 14px;
    }
    .dx{
        width:25%;
    }
    .vol-bar{display: none;}
}

/* MOBILE */
@media screen and (max-width:576px){
    main>section{
        width: calc(100% - 50px);
    }
    main>nav{
        width: 50px;
    }
    .nav-element{
        display: none;
    }
   nav .logo{
        padding-left: 2px;
    }

    nav .install{
        padding-bottom: 20px;
    }
    .nav-icon{
        font-size: 25px;
        padding-bottom: 16px ;
    }
    .opzioni{
        font-size: 14px;
    }

    div .img-player{
        margin-left: 8px;
        margin-right: 8px;
        width: 100%;
    
    }
    .track-name{
        padding-right: 8px;
        font-size: 12px;
    }
    .icons{font-size: 10px;}
    .sx{
        width: 35%;
    }
    .cen{
        width: 40%;
    }
    .dx{
        width: 25%;
    }
    .player-bar{
        width: 100%;
    }
    .time{
        font-size: 10px;
    }
}
